@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Jersey+10+Charted&family=Jersey+20&family=Lakki+Reddy&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@media (max-width: 768px) {
  #container {
    width: 100%;
  }
  #container #menu-mobile {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #container #menu-mobile #mobile-text-menu {
    display: block;
    font-weight: 700px;
    font-family: Poppins;
    font-size: 18px;
  }
  #container #menu-mobile .burger-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  #container #menu-mobile nav {
    display: none;
  }
  #container #menu-mobile #dropdown {
    position: absolute;
    display: block;
    left: 1.5rem;
    top: 105px;
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    background: grey;
  }
  #container #menu-mobile #dropdown li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  #container #menu-mobile #dropdown li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
  }
  #container #menu-mobile #dropdown li a:before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
  }
  #container #menu-mobile #dropdown li a:hover::before {
    left: 10%;
    right: 10%;
    top: 25px;
    width: 80%;
    height: 2px;
    background: #b00000;
    transition: 1s all;
  }
  @keyframes list-dropdown {
    0% {
      opacity: 0;
      max-height: 0;
    }
    100% {
      opacity: 1;
      max-height: 500px;
    }
  }
  #container #menu-mobile #toggle[type=checkbox]:checked ~ #dropdown {
    display: block;
    font-family: Poppins;
    opacity: 1;
    max-height: 500px;
    animation: list-dropdown 3s forwards;
    transition: opacity 2s;
    position: absolute;
    z-index: 1;
  }
  #container #mobile-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #container #mobile-header #left-header .text .general-header-text {
    font-size: 24px;
    line-height: 28px;
  }
  #container #mobile-header #left-header .text .text-sm {
    word-wrap: break-word;
    text-align: center;
  }
  #container #mobile-header #left-header .text .text-sm br {
    display: none;
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  #container #mobile-header #left-header .btn {
    display: flex;
    flex-direction: column;
  }
  #container #mobile-header #left-header .btn .choose {
    margin-top: 10px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  #container #mobile-header .right-header {
    margin-right: 0px;
  }
  #container #mobile-header .right-header .rec-big,
  #container #mobile-header .right-header .rec-left,
  #container #mobile-header .right-header .rec-right {
    display: none;
  }
  #container #mobile-header .right-header #mobile-header-img {
    width: 100%;
  }
  #container .cloud-web-hosting {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  #container .cloud-web-hosting .cloud-content {
    flex-direction: column;
  }
  #container .cloud-web-hosting .cloud-content .left-block-text {
    width: 100%;
    text-align: start;
  }
  #container .cloud-web-hosting .cloud-content .left-block-text p {
    font-size: 24px;
    line-height: 28px;
  }
  #container .cloud-web-hosting .cloud-content .left-block-text span {
    padding-top: 0;
    padding-bottom: 30px;
    text-align: start;
    width: 100%;
    margin-top: 34px;
    color: #808080;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: justify;
    word-wrap: break-word;
  }
  #container .cloud-web-hosting .cloud-content .right-block-cloud {
    margin-left: 0;
    margin-top: 0;
  }
  #container .cloud-web-hosting .cloud-content .right-block-cloud .top {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0;
  }
  #container .cloud-web-hosting .cloud-content .right-block-cloud .top img {
    padding: 20px;
  }
  #container .cloud-web-hosting .cloud-content .right-block-cloud .bottom {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0;
    margin-top: 0;
  }
  #container .cloud-web-hosting .cloud-content .right-block-cloud .bottom img {
    padding: 20px;
  }
  #container .cloud-web-hosting .block-bottom-cloud {
    flex-direction: column;
    padding-top: 50px;
  }
  #container .cloud-web-hosting .block-bottom-cloud .function-cloud {
    padding-top: 30px;
  }
  .packages {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .packages .content_package {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .packages .content_package .choose-package {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .packages .content_package .choose-package .ready-start {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    line-height: 30px;
  }
  .packages .content_package .choose-package .text-choose {
    font-size: 16px;
  }
  .packages .content_package .choose-package .month_or_year {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .packages .content_package .choose-package .month_or_year p {
    font-size: 16px;
  }
  .packages .content_package .choose-package .month_or_year .btn-choose-package {
    margin: 20px;
    padding: 10px 38px 10px 6px;
  }
  .packages .content_package .choose-package .month_or_year .btn-choose-package .circle-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .packages .content_package .choose-package .month_or_year .btn-choose-package .circle-btn:active {
    transform: translateX(32px);
  }
  .packages .content_package .choose-package .month_or_year span {
    margin: 0;
  }
  .packages .content_package .choose-package .select-package {
    padding-top: 10px;
    font-size: 20px;
  }
  .packages .content_package .choose-package .select-package .basic {
    font-size: 20px;
  }
  .packages .content_package .choose-package .select-package .premium {
    font-size: 20px;
  }
  .packages .list-package {
    width: 299px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex-direction: column;
    padding-top: 0px;
  }
  .packages .list-package .package-section {
    margin-top: 50px;
  }
  .packages .list-package .package-section .content h2 {
    font-size: 24px;
  }
  .packages .list-package .package-section .content .price {
    font-size: 20px;
  }
  .real-stories {
    display: none;
  }
  .nigerian-websites {
    padding-top: 0px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    flex-direction: column;
  }
  .nigerian-websites .nigerian {
    width: 100%;
  }
  .nigerian-websites .nigerian p:first-of-type {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
  }
  .nigerian-websites .nigerian p {
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
  }
  .nigerian-websites .nigerian-partners {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .nigerian-websites .nigerian-partners img {
    padding: 10px;
  }
  .get-touch {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 20px;
  }
  .get-touch .triangle-sm-1,
  .get-touch .triangle-sm-2,
  .get-touch .triangle-bg-3 {
    display: none;
  }
  .get-touch .get-touch-text {
    text-align: center;
    padding: 30px;
    font-size: 24px;
    line-height: 40px;
  }
  .get-touch .get-touch-text br {
    display: none;
  }
  footer .menu-footer {
    flex-wrap: wrap;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  footer .menu-footer .colum-menu-logo-text {
    width: 100%;
  }
  footer .menu-footer .colum-menu-footer {
    flex-direction: column;
  }
  footer .menu-footer .colum-menu-footer li {
    padding-bottom: 10px;
  }
  footer .copyright {
    padding-top: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (max-width: 400px) {
  #container #menu-mobile #mobile-text-menu {
    font-size: 15px;
  }
}

/*# sourceMappingURL=mobile.css.map */
