@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jersey+10+Charted&family=Jersey+20&family=Lakki+Reddy&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@media (max-width: 768px) {
    #container {
        width: 100%;

        #menu-mobile {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #mobile-text-menu {
                display: block;
                font-weight: 700px;
                font-family: Poppins;
                font-size: 18px;
            }
            .burger-menu {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
            }
            nav {
                display: none;
            }
            #dropdown {
                position: absolute;
                display: block;
                left: 1.5rem;
                top: 105px;
                display: none;
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                padding: 20px;
                border-radius: 0 10px 10px 0;
                background: grey;
                li {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: rgba(0, 0, 0, 1);
                        position: relative;
                        &:before {
                            position: absolute;
                            content: '';
                            display: block;
                            height: 2px;
                            width: 0%;
                            bottom: 0;
                            left: 0;
                        }
                        &:hover::before {
                            left: 10%;
                            right: 10%;
                            top: 25px;
                            width: 80%;
                            height: 2px;
                            background: #b00000;
                            transition: 1s all;
                        }
                    }
                }
            }
            @keyframes list-dropdown {
                0% {
                    opacity: 0;
                    max-height: 0;
                }
                100% {
                    opacity: 1;
                    max-height: 500px;
                }
            }
            #toggle[type='checkbox']:checked ~ #dropdown {
                display: block;
                font-family: Poppins;
                opacity: 1;
                max-height: 500px;
                animation: list-dropdown 3s forwards;
                transition: opacity 2s;
                position: absolute;
                z-index: 1;
            }
        }
        // Header-mobile
        #mobile-header {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            #left-header {
                .text {
                    .general-header-text {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .text-sm {
                        word-wrap: break-word;
                        text-align: center;
                        br {
                            display: none;
                        }
                    }
                }
                @media (max-width: 400px) {
                    .btn {
                        display: flex;
                        flex-direction: column;

                        .choose {
                            margin-top: 10px;
                            margin-left: 0;
                        }
                    }
                }
            }
            .right-header {
                .rec-big,
                .rec-left,
                .rec-right {
                    display: none;
                }
                margin-right: 0px;
                #mobile-header-img {
                    width: 100%;
                }
            }
        }
        .cloud-web-hosting {
            margin-top: 1.5rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            .cloud-content {
                flex-direction: column;
                .left-block-text {
                    width: 100%;
                    text-align: start;
                    p {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    span {
                        padding-top: 0;
                        padding-bottom: 30px;
                        text-align: start;
                        width: 100%;
                        margin-top: 34px;
                        color: #808080;
                        font-size: 16px;
                        font-family: Inter;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0.8px;
                        text-align: justify;
                        word-wrap: break-word;
                    }
                }
                .right-block-cloud {
                    margin-left: 0;
                    margin-top: 0;
                    .top {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        flex-wrap: wrap;
                        padding-top: 0;
                        img {
                            padding: 20px;
                        }
                    }
                    .bottom {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        flex-wrap: wrap;
                        padding-top: 0;
                        margin-top: 0;
                        img {
                            padding: 20px;
                        }
                    }
                }
            }
            .block-bottom-cloud {
                flex-direction: column;
                padding-top: 50px;

                .function-cloud {
                    padding-top: 30px;
                }
            }
        }
    }
    .packages {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-top: 50px;
        padding-bottom: 40px;

        .content_package {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            .choose-package {
                padding-left: 0;
                padding-right: 0;
                margin-left: 1.5rem;
                margin-right: 1.5rem;

                .ready-start {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 24px;
                    line-height: 30px;
                }
                .text-choose {
                    font-size: 16px;
                }
                .month_or_year {
                    flex-direction: column;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    p {
                        font-size: 16px;
                    }
                    .btn-choose-package {
                        margin: 20px;
                        padding: 10px 38px 10px 6px;

                        .circle-btn {
                            width: 20px;
                            height: 20px;

                            cursor: pointer;
                        }
                        .circle-btn:active {
                            transform: translateX(32px);
                        }
                    }
                    span {
                        margin: 0;
                    }
                }
                .select-package {
                    padding-top: 10px;
                    font-size: 20px;
                    .basic {
                        font-size: 20px;
                    }
                    .premium {
                        font-size: 20px;
                    }
                }
            }
        }
        .list-package {
            width: 299px;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            flex-direction: column;
            padding-top: 0px;
            .package-section {
                margin-top: 50px;

                .content {
                    h2 {
                        font-size: 24px;
                    }
                    .price {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    // real-stories
    .real-stories {
        display: none;
    }
    .nigerian-websites {
        padding-top: 0px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        flex-direction: column;

        .nigerian {
            width: 100%;
            p:first-of-type {
                margin: 0 auto;
                text-align: center;
                font-size: 24px;
                line-height: 30px;
            }
            p {
                padding-top: 20px;
                margin: 0 auto;
                text-align: center;
                font-size: 16px;
                line-height: 25px;
            }
        }
        .nigerian-partners {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            img {
                padding: 10px;
            }
        }
    }
    .get-touch {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-bottom: 20px;

        .triangle-sm-1,
        .triangle-sm-2,
        .triangle-bg-3 {
            display: none;
        }
        .get-touch-text {
            text-align: center;
            padding: 30px;
            font-size: 24px;
            line-height: 40px;
            br {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {
    #container {
        #menu-mobile {
            #mobile-text-menu {
                font-size: 15px;
            }
        }
    }
}
