@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jersey+10+Charted&family=Jersey+20&family=Lakki+Reddy&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    $main-font: Poppins;
    $main-font-size: 15px;
    $main-font-style: normal;
    $main-font-weight: 600;
    $main-color: #000;

    @mixin text-menu-nav {
        font-family: $main-font;
        color: $main-color;
        text-decoration: none;
        font-size: $main-font-size;
        font-weight: $main-font-weight;
        font-style: $main-font-style;
    }
    @mixin line-hover-menu {
        &:before {
            position: absolute;
            content: '';
            display: block;
            height: 2px;
            width: 0%;
            bottom: 0;
            left: 0;
        }
        &:hover::before {
            left: 10%;
            right: 10%;
            top: 25px;
            width: 80%;
            height: 2px;
            background: #b00000;
            transition: 1s all;
        }
    }

    #container {
        width: 1440px;
        max-height: 5038px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .menu {
            width: 100%;
            display: flex;
            margin-left: 112px;
            margin-right: 190px;
            margin-top: 41px;

            .text-menu {
                display: none;
            }
            #toggle {
                display: none; /* Сховати чекбокс */
            }
            #dropdown {
                display: none; /* Сховати меню за замовчуванням */
            }
            .burger-menu {
                display: none;

                width: 45px;
                height: 40px;
                background: #b00000;

                div {
                    width: 70%;
                    height: 3px;
                    padding-top: 3px;
                    background: white;
                    margin: 3px 0;
                }
            }
            .list-menu-nav {
                display: none;
            }
            nav {
                display: flex;
                align-items: center;
                margin-left: 65px;
                position: relative;

                .our-services {
                    padding-top: 19px;
                    padding-bottom: 18px;
                    list-style: none;

                    a {
                        position: relative;
                        @include text-menu-nav;
                        @include line-hover-menu;
                    }
                }
                ul {
                    display: flex;
                    padding-left: 135px;
                    padding-right: 198px;
                    li {
                        display: flex;
                        justify-content: center;
                        padding-top: 19px;
                        padding-bottom: 18px;

                        &:nth-child(2) {
                            padding-left: 33px;
                            padding-right: 33px;
                        }
                        a {
                            position: relative;
                            @include text-menu-nav;
                            @include line-hover-menu;
                        }
                    }
                }
                .account-nav {
                    display: flex;
                    list-style: none;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        right: -31px;
                        width: 1px;
                        height: 19px;
                        border-right: 1px solid black;
                    }
                    a {
                        position: relative;
                        @include text-menu-nav;
                        @include line-hover-menu;
                    }
                }
                .phone {
                    display: flex;
                    align-items: center;
                    padding-left: 62px;
                    list-style: none;
                    span {
                        padding-left: 6px;
                        font-family: $main-font;
                        font-size: 16px;
                        font-weight: $main-font-weight;
                        line-height: 15px;
                    }
                }
            }
        }
        // Header

        #container {
            width: 1440px;
            max-height: 5038px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            .menu {
                display: flex;
                // margin-left: 112px;
                // margin-right: 198px;
                nav {
                    display: flex;
                    align-items: center;

                    ul {
                        display: flex;
                        padding-left: 135px;
                        padding-right: 198px;
                        li {
                            display: flex;
                            justify-content: space-between;

                            a {
                                color: $main-color;
                                text-decoration: none;
                                font-size: $main-font-size;
                                font-weight: $main-font-weight;
                                font-family: $main-font;
                                font-style: $main-font-style;
                            }
                        }
                    }
                    li {
                        list-style: none;
                        padding: 19px 0 18px 0;
                        padding-left: 65px;
                        a {
                            font-family: $main-font;
                            color: $main-color;
                            text-decoration: none;
                            font-size: $main-font-size;
                            font-weight: $main-font-weight;
                            font-style: $main-font-style;
                        }
                    }
                    .phone {
                        span {
                            font-family: $main-font;
                            font-size: 16px;
                            font-weight: $main-font-weight;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}
