@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Jersey+10+Charted&family=Jersey+20&family=Lakki+Reddy&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100..900&family=Jersey+10+Charted&family=Jersey+20&family=Lakki+Reddy&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    $main-font: Poppins;
    $main-font-size: 15px;
    $main-font-style: normal;
    $main-font-weight: 600;
    $main-color: #000;
    $black: rgba(0, 0, 0, 1);
    $white: rgba(255, 255, 255, 1);
    $red: #b00000;
    @mixin inter-font {
        font-family: Inter;
        word-wrap: break-word;
    }
    @mixin text-menu-nav {
        font-family: $main-font;
        color: $main-color;
        text-decoration: none;
        font-size: $main-font-size;
        font-weight: $main-font-weight;
        font-style: $main-font-style;
    }
    @mixin line-hover-menu {
        &:before {
            position: absolute;
            content: '';
            display: block;
            height: 2px;
            width: 0%;
            bottom: 0;
            left: 0;
        }
        &:hover::before {
            left: 10%;
            right: 10%;
            top: 25px;
            width: 80%;
            height: 2px;
            background: $red;
            transition: 1s all;
        }
    }

    #container {
        width: 1440px;
        max-height: 5038px;
        margin: 0 auto;

        .header-top {
            display: flex;
            justify-content: center;

            .menu {
                width: 100%;
                display: flex;
                margin-left: 112px;
                margin-right: 190px;
                margin-top: 41px;

                .text-menu {
                    display: none;
                }
                #toggle {
                    display: none; /* Сховати чекбокс */
                }
                #dropdown {
                    display: none; /* Сховати меню за замовчуванням */
                }
                .burger-menu {
                    display: none;

                    width: 45px;
                    height: 40px;
                    background: $red;

                    div {
                        width: 70%;
                        height: 3px;
                        padding-top: 3px;
                        background: white;
                        margin: 3px 0;
                    }
                }
                .list-menu-nav {
                    display: none;
                }
                nav {
                    display: flex;
                    align-items: center;
                    margin-left: 65px;
                    position: relative;

                    .our-services {
                        padding-top: 19px;
                        padding-bottom: 18px;
                        list-style: none;

                        a {
                            position: relative;
                            @include text-menu-nav;
                            @include line-hover-menu;
                        }
                    }
                    ul {
                        display: flex;
                        padding-left: 135px;
                        padding-right: 198px;
                        li {
                            display: flex;
                            justify-content: center;
                            padding-top: 19px;
                            padding-bottom: 18px;

                            &:nth-child(2) {
                                padding-left: 33px;
                                padding-right: 33px;
                            }
                            a {
                                position: relative;
                                @include text-menu-nav;
                                @include line-hover-menu;
                            }
                        }
                    }
                    .account-nav {
                        display: flex;
                        list-style: none;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            right: -31px;
                            width: 1px;
                            height: 19px;
                            border-right: 1px solid black;
                        }
                        a {
                            position: relative;
                            @include text-menu-nav;
                            @include line-hover-menu;
                        }
                    }
                    .phone {
                        display: flex;
                        align-items: center;
                        padding-left: 62px;
                        list-style: none;
                        span {
                            padding-left: 6px;
                            font-family: $main-font;
                            font-size: 16px;
                            font-weight: $main-font-weight;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
        // Header
        .header {
            width: 100%;
            display: flex;
            padding-left: 112px;
            padding-right: 112px;
            margin-top: 80px;
            .menu {
                display: flex;
                justify-content: space-between;
                width: 243px;
                position: relative;
                top: 0;
                &:before {
                    display: flex;
                    justify-content: center;
                    content: '';
                    position: absolute;
                    width: 90%;
                    height: 1.5px;
                    background: rgba(214, 212, 212, 0.88);
                    bottom: 0;
                    top: 30px;
                    left: 6px;
                    right: 6px;
                }
                li {
                    list-style: none;
                    position: relative;
                    &:before {
                        display: flex;
                        justify-content: center;
                        content: '';
                        position: absolute;
                        width: 80%;
                        height: 1.5px;
                        background: rgba(214, 212, 212, 0.88);
                        bottom: 0;
                        top: 30px;
                        right: 6px;
                    }
                    &:hover::before {
                        top: 30px;
                        height: 1.5px;
                        background: $red;
                        transition: 1s all;
                    }
                    a {
                        text-decoration: none;
                        color: $red;
                        font-size: 15px;
                        font-family: Poppins;
                        font-weight: 600;
                        word-wrap: break-word;
                    }
                    .grey-link {
                        color: rgba(214, 212, 212, 0.88);
                    }
                }
            }
        }
        .text {
            display: block;
            justify-content: center;
            margin-top: 30px;

            p:first-of-type {
                color: #2e2e2e;
                font-size: 64px;
                font-family: Poppins;
                font-weight: 700;
                line-height: 77.5px;
                word-wrap: break-word;
            }
            .text-sm {
                width: 100%;
                margin-top: 34px;
                color: #808080;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.8px;
                @include inter-font;

                span {
                    display: block;
                    word-wrap: break-word;
                }
            }
        }
        .btn {
            margin-top: 60px;

            button {
                display: inline-flex;
                border-radius: 8px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background: $red;
                padding: 12px;
                color: $white;
                font-size: 14px;
                font-family: Poppins;
                font-weight: 400;
                line-height: 24px;
                word-wrap: break-word;
                cursor: pointer;
            }
            .create {
                box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
                border: none;
            }
            .choose {
                background: $white;
                color: $black;
                border: 1px black solid;
                margin-left: 24px;
            }
        }
        .right-header {
            position: relative;
            margin-right: 25px;
            margin-top: 20px;
            .rec-big {
                position: absolute;
                top: 391px;
                left: 454px;
            }
            .rec-right {
                position: absolute;
                top: 63px;
                left: 486px;
            }
            .rec-left {
                position: absolute;
                right: 487px;
                bottom: 161px;
            }
        }
    }
    // Cloud Block Main
    .cloud-web-hosting {
        margin-top: 79px;
        margin-left: 74px;
        margin-right: 82px;

        .cloud-content {
            display: flex;

            .left-block-text {
                width: 46%;
                p {
                    color: #18191f;
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 64px;
                    @include inter-font;
                }
                span {
                    display: inline-block;
                    padding-top: 21px;
                    padding-bottom: 73px;
                    width: 100%;
                    color: #18191f;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 32px;
                    @include inter-font;
                }
            }
            .right-block-cloud {
                flex: auto;
                margin-top: 22px;
                margin-left: 98px;
                .top {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .bottom {
                    display: flex;
                    margin-top: 42px;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
        .block-bottom-cloud {
            display: flex;
            justify-content: space-between;

            .function-cloud {
                text-align: center;
                p {
                    color: $black;
                    padding-top: 12px;
                    font-size: 20px;
                    font-family: Poppins;
                    font-weight: 700;
                    word-wrap: break-word;
                }
                span {
                    display: inline-block;
                    width: 80%;
                    color: $black;
                    font-size: 12px;
                    font-family: Poppins;
                    font-weight: 300;
                    word-wrap: break-word;
                }
            }
        }
    }
    .packages {
        display: flex;
        justify-content: center;
        padding-top: 133px;
        padding-bottom: 100px;

        .choose-package {
            padding-left: 120px;
            padding-right: 120px;

            .ready-start {
                padding-left: 125px;
                padding-right: 81px;
                text-align: center;
                color: $black;
                font-size: 50px;
                font-family: Poppins;
                font-weight: 600;
                line-height: 60px;
                word-wrap: break-word;
            }
            .text-choose {
                text-align: center;
                padding-top: 38px;
                color: $black;
                font-size: 25px;
                font-family: Poppins;
                font-weight: 400;
                line-height: 25px;
                word-wrap: break-word;
            }
            .month_or_year {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 57px;
                padding-left: 145px;
                padding-right: 83px;
                p {
                    color: $black;
                    font-size: 25px;
                    font-family: Poppins;
                    font-weight: 400;
                    line-height: 25px;
                    word-wrap: break-word;
                }
                span {
                    padding: 7px 8px 7px 8px;
                    border-radius: 8px;
                    background: rgba(255, 232, 122, 1);
                    color: black;
                    font-size: 10px;
                    font-family: Poppins;
                    font-weight: 500;
                    line-height: 9px;
                    word-wrap: break-word;
                    margin-left: 17px;
                }
                .btn-choose-package {
                    background: $red;
                    border-radius: 73px;
                    padding: 10px 54px 10px 9px;
                    margin-left: 31px;
                    margin-right: 26px;
                    .circle-btn {
                        background: $white;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                    }
                    .circle-btn:active {
                        transform: translateX(42px);
                        transition: 1s all;
                        cursor: pointer;
                    }
                }
            }
            .select-package {
                display: flex;
                width: 100%;
                justify-content: space-around;
                padding-top: 71px;
                .basic {
                    width: 100%;
                    text-align: center;
                    color: $black;
                    font-size: 30px;
                    font-family: Poppins;
                    font-weight: 600;
                    line-height: 40px;
                    word-wrap: break-word;
                    list-style: none;
                    padding-bottom: 7px;
                    border-bottom: 2px solid $red;
                }
                .premium {
                    width: 100%;
                    text-align: center;
                    color: $black;
                    font-size: 30px;
                    font-family: Poppins;
                    font-weight: 600;
                    line-height: 40px;
                    word-wrap: break-word;
                    list-style: none;
                    padding-bottom: 7px;
                    border-bottom: 2px solid rgba(196, 196, 196, 1);
                }
            }
        }
        .list-package {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 85px;

            .package-section {
                border: 1px solid rgba(196, 196, 196, 1);
                border-radius: 15px;
                .content {
                    width: 299px;
                    padding-top: 34px;
                    padding-bottom: 48px;
                    padding-left: 35px;
                    padding-right: 29px;
                    h2 {
                        color: $black;
                        font-size: 28px;
                        font-family: Poppins;
                        font-weight: 600;
                        line-height: 25px;
                        word-wrap: break-word;
                    }
                    .text {
                        padding-top: 11px;
                        padding-bottom: 28px;
                        text-align: start;
                        color: $black;
                        font-size: 12px;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 18px;
                        overflow-x: wrap;
                        word-wrap: break-word;
                    }
                    .price {
                        color: $black;
                        font-size: 42px;
                        font-family: Poppins;
                        font-weight: 600;
                        line-height: 32px;
                        word-wrap: break-word;
                    }
                    .per-month {
                        padding-top: 11px;
                        color: $black;
                        font-size: 14px;
                        font-family: Poppins;
                        font-weight: 300;
                        line-height: 14px;
                        word-wrap: break-word;
                    }
                    .shoose-plan {
                        border: 2px solid $black;
                        border-radius: 12px;
                        margin-top: 35px;
                        cursor: pointer;

                        p {
                            padding: 9px 60px 9px 56px;
                        }
                    }
                    ul {
                        padding-top: 35px;
                        li {
                            list-style: none;
                            padding-bottom: 15px;
                            color: #808080;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            @include inter-font;
                        }
                        li:before {
                            content: '\2714';
                            padding-right: 24px;
                        }
                    }
                }
            }
        }
    }
    // Real Stories
    .real-stories {
        display: flex;
        height: 900px;
        position: relative;
        padding-left: 142px;
        padding-right: 104px;

        .quote-mark {
            position: absolute;

            img {
                position: absolute;
                left: 50px;
            }
        }
        .real-stories-block {
            position: absolute;
            top: 56px;
            left: 145px;
            margin-left: 145px;
            width: 445px;
            h2 {
                color: #18191f;
                font-size: 48px;
                font-weight: 800;
                line-height: 64px;
                @include inter-font;
            }
            p {
                padding-top: 8px;
                color: #18191f;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                @include inter-font;
            }
        }
        .block-stories-1 {
            margin-top: 24px;
            width: 350px;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
            border-radius: 8px;
            overflow: hidden;
            .partner-img {
                padding-left: 64px;
            }
            .text-stories {
                position: relative;
                display: flex;
                padding-left: 32px;
                padding-right: 32px;

                .text-content {
                    padding-left: 16px;
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    @include inter-font;
                }
            }
            .block-name {
                padding-top: 24px;
                padding-left: 64px;
                padding-bottom: 96px;
                .name {
                    color: #18191f;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    @include inter-font;
                }
                .partner {
                    color: #969bab;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    @include inter-font;
                }
            }
        }
        .block-stories-2 {
            width: 445px;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
            border-radius: 8px;
            overflow: hidden;
            .partner-img {
                padding-top: 39px;
                padding-left: 64px;
            }
            .text-stories {
                position: relative;
                display: flex;
                padding-left: 32px;
                padding-right: 32px;

                .text-content {
                    padding-left: 16px;
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    @include inter-font;
                }
            }
            .block-name {
                padding-top: 24px;
                padding-left: 64px;
                padding-bottom: 10px;
                .name {
                    color: #18191f;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    @include inter-font;
                }
                .partner {
                    color: #969bab;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    @include inter-font;
                }
            }
        }
        .block-stories-3 {
            width: 350px;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
            border-radius: 8px;
            overflow: hidden;
            .partner-img {
                padding-top: 39px;
                padding-left: 64px;
            }
            .text-stories {
                position: relative;
                display: flex;
                padding-left: 32px;
                padding-right: 32px;

                .text-content {
                    padding-left: 16px;
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    @include inter-font;
                }
            }
            .block-name {
                padding-top: 24px;
                padding-left: 64px;
                padding-bottom: 10px;
                .name {
                    color: #18191f;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    @include inter-font;
                }
                .partner {
                    color: #969bab;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    @include inter-font;
                }
            }
        }
        .cli {
            position: relative;
            top: 210px;
            left: 250px;
        }
        .jpnl {
            position: absolute;
            top: 100px;
            left: 770px;
            .name-jpnl {
                padding-bottom: 10px;
            }
        }
        .leave-on {
            position: absolute;
            top: 460px;
            left: 770px;
            .name-jpnl {
                padding-bottom: 10px;
            }
        }
    }
    .nigerian-websites {
        padding-left: 142px;
        padding-right: 104px;
        display: flex;
        justify-content: space-between;

        .nigerian {
            width: 50%;
            p:first-of-type {
                color: #18191f;
                font-size: 48px;
                font-weight: 800;
                line-height: 64px;
                @include inter-font;
            }
            p {
                width: 74%;
                color: #18191f;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                @include inter-font;
            }
        }
        .nigerian-partners {
            width: 40%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            img {
                display: inline-block;
            }
        }
    }
    // triangles
    @mixin triangle-sm {
        // position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &::before {
            background: $red;
            clip-path: polygon(0 0, 100% 0, 0 100%);
        }

        &::after {
            background: opacity($color: 0);
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
        }
    }

    // get-touch
    .get-touch {
        position: relative;
        background: #f7fafe;
        border-radius: 16px;
        padding-bottom: 88px;
        margin-right: 118px;
        margin-left: 90px;

        .triangle-sm-1 {
            position: absolute;
            top: 304px;
            left: -15px;
            width: 40px;
            height: 40px;
            @include triangle-sm();
            transform: rotate(270deg);
        }
        .triangle-sm-2 {
            position: absolute;
            top: 0px;
            left: 434px;
            width: 40px;
            height: 40px;
            @include triangle-sm();
            transform: rotate(180deg);
        }
        .triangle-bg-3 {
            position: relative;
            left: 1185px;
            top: 320px;
            width: 72px;
            height: 72px;
            @include triangle-sm();
            transform: rotate(180deg);
        }
        .get-touch-text {
            padding: 80px 90px 40px 118px;
            text-align: center;
            color: #2e2e2e;
            font-size: 64px;
            font-family: Poppins;
            font-weight: 600;
            line-height: 88px;
            word-wrap: break-word;
        }
        .get-touch-btn {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            padding: 12px 16px 11px 16px;
            background: $red;
            border: none;
            border-radius: 8px;

            p {
                img {
                    padding-right: 10px;
                }
                display: flex;
                align-items: center;
                color: white;
                font-size: 14px;
                font-family: Poppins;
                font-weight: 400;
                line-height: 24px;
                word-wrap: break-word;
            }
        }
    }
    //  Footer mixin
    @mixin menu-footer-first {
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        @include inter-font;
    }
    @mixin menu-footer {
        color: #e6e6e6;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        @include inter-font;
    }
    // Footer
    footer {
        background: $red;
        margin-top: 110px;

        .menu-footer {
            display: flex;
            justify-content: space-between;
            padding-left: 104px;
            padding-right: 115px;
            .colum-menu-logo-text {
                width: 24%;
                list-style: none;
                padding-top: 64px;
                .text-footer {
                    padding-top: 16px;
                    text-align: start;
                    color: #e6e6e6;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    @include inter-font;
                }
            }
            .colum-menu-footer {
                flex-direction: column;
                padding-top: 80px;
                li {
                    list-style: none;
                    padding-bottom: 24px;
                    a {
                        position: relative;
                        text-decoration: none;
                        @include menu-footer();

                        &:before {
                            position: absolute;
                            content: '';
                            display: block;
                            height: 2px;
                            width: 0%;
                            bottom: 0;
                            left: 0;
                        }
                        &:hover:before {
                            left: 10%;
                            right: 10%;
                            top: 25px;
                            width: 80%;
                            height: 2px;
                            background: $white;
                            transition: 1s all;
                        }
                    }
                    &:first-of-type {
                        a {
                            @include menu-footer-first();
                        }
                    }
                }
            }
        }
        .copyright {
            padding-left: 104px;
            padding-top: 104px;
            padding-bottom: 80px;
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            @include inter-font;
        }
    }
}
